.sessao1 {
    background: linear-gradient(#000, #28282898, #000);
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 13rem;
    width: 18rem;
    background: transparent;
    border: 1px solid #001623;
    border-radius: 16px;
    transition: 0.2s;
}
.card1:hover {
    filter: drop-shadow(0 0 5px);
}
.card1 strong {
    font-size: 30pt;
}
.card1 p {
    font-size: 10pt;
}
.card1 button {
    background: transparent;
    color: #fff;
    border-radius: 16px;
    border: 1px solid #001623;
    cursor: pointer;
    transition: 0.3s;
    font-size: 11pt;
    padding: 1rem;
}
.card1 button:hover {
    filter: drop-shadow(0 0 5px);
}
.card2 {
    height: 20.8rem;
    border: 1px solid #001623;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.1s;
}
.card2:hover {
    filter: drop-shadow(0 0 5px);
    height: 20.9rem;
}