.sessao4 {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    height: 14rem;
    width: 20rem;
    background: transparent;
    border: 1px solid #001623;
    border-radius: 16px;
    transition: 0.2s;
    padding: 1rem;
}
.card3 button {
    background: transparent;
    color: #fff;
    border-radius: 16px;
    border: 1px solid #001623;
    cursor: pointer;
    transition: 0.3s;
    font-size: 11pt;
    padding: 1rem;
}
.card3 strong {
    font-size: 2rem;
}
.card3:hover {
    filter: drop-shadow(0 0 5px);
}
.card3 button:hover, .card4 img:hover {
    filter: drop-shadow(0 0 5px);
}
.card4 {
    gap: 1rem;
    display: flex;
}
.card4 img {
    border-radius: 13px;
    transform: rotate(10deg);
    cursor: pointer;
}
