.sessao2 {
    background: black;
    height: 23rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.container1 {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
.container1 button {
    background: transparent;
    color: #fff;
    border-radius: 16px;
    border: 1px solid #001623;
    padding: 0.5rem;
    font-size: 10pt;
    cursor: pointer;
    transition: 0.3s;
}
.container1 button:hover {
    filter: drop-shadow(0 0 2px);
}
.container2 {
    display: flex;
    gap: 1.5rem;
    padding: 2rem 0;
}
.cards_produtos {
    border: 1px solid #001623;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    gap: 0.5rem;
    width: 8.5rem;
    cursor: pointer;
    transition: 0.3s;
}
.cards_produtos img {
    height: 155px;
}
.cards_produtos:hover {
    filter: drop-shadow(0 0 5px);
}
.cards_produtos button {
    color: #fff;
    background: #001623;
    padding: 0 0.2rem;
    cursor: pointer;
}